/*
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Mada', sans-serif;
font-family: 'Questrial', sans-serif;
font-family: 'Bangers', cursive;
*/

#my-menu{
    background: #003357;
    border-bottom: none;
    font-family: 'Open Sans Condensed', sans-serif;
    
}

#my-menu a{
    color: #FFFFFF;
    font-size: 26px;
    font-weight: bold;
}

.active>a{
    background:#90ABBA !important;
}

section{
    width: 100%;
}

.page-header{
    margin:0px;
}
.bk-1{
		background:#E8E8E8;
        /*box-shadow: inset 0px 0px 20px rgba(0,0,0,0.5);*/
}

.jumbotron{
    background-color:#f2f2f2;
}

.well{
	border-width: 2px;
}

h2{
	margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
    font-weight: bold;
}

.carousel-inner img {
    margin: auto;
}

.carousel-caption {
    position: static;
    color: #333;
}

body{
		padding-top: 40px; 
        background-color: #CFCFCF;
        /*background-attachment: fixed;
		background: url('../media/minimal-wallpaper-2.jpg');*/
}

.fadein {
-webkit-animation: fadein 2.5s; /* Safari and Chrome */
-moz-animation: fadein 2.5s; /* Firefox */
-ms-animation: fadein 2.5s; /* Internet Explorer */
-o-animation: fadein 2.5s; /* Opera */
animation: fadein 2.5s;
}

.footer{
    width:100%; 
    float:left; 
    background:#BBB; 
    
    height:50px;
    font-size: 20px;
}
.footer-a{
}
    
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​



@-webkit-keyframes bk-animation {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes bk-animation { 
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

.row{
    margin:0;
}