.bk-1{
		background-image: url('../media/minimal-wallpaper-2.jpg'); 
		background-attachment: fixed;
}
.jumbotron{background-color:#f2f2f2}
.progress-bar{
	font-size: 15px;
	color: #333
}
.page-header{
	margin: 20px;
}
h2{
	margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
    font-weight: bold;
}
body{
		padding-top: 40px; 
		/*background: url('minimal-wallpaper-15.jpg');
		background-attachment: fixed;*/
}
.fadein {
-webkit-animation: fadein 2.5s; /* Safari and Chrome */
-moz-animation: fadein 2.5s; /* Firefox */
-ms-animation: fadein 2.5s; /* Internet Explorer */
-o-animation: fadein 2.5s; /* Opera */
animation: fadein 2.5s;
}
    
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​
}